.bso-betachip {
  @include font-size(12, 16);
  font-weight: 600;
  position: relative;
  top: -30px;
  left: -50px;
  display: flex;
  z-index: 1;
  // background: var(--blue-france-500);
  // color: white;
  background: var(--yellow-medium-100);
  color: var(--blue-soft-150);
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  text-align: center;
  height: 14px;
  width: 130px;
  padding: 20px;
}
