.josm-button {
  background-color: var(--green-800);
  border: solid 2px var(--green-800);
  border-radius: 6px;
  color: #fff;
  font-family: 'NotoSansJP-B', sans-serif;
  font-size: 1rem;
  line-height: 1;
  min-width: 80px;
  padding: 8px 16px;
}

.josm-button:hover {
  background-color: var(--green-50);
  color: var(--green-800);
}
