.graph-container {
  padding: 24px 24px 0 24px;
  background-color: var(--white);
}

.graph-footer {
  background-color: #fff;
  color: var(--g-800);
  padding-top: 8px;
  padding-inline: 8px;

  @media (min-width: 992px) {
    padding-inline: 24px;
  }

  .graph-footer__content {
    border-top: solid 1px var(--g-200);
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-block: 24px;
  }

  .graph-footer__separator {
    width: 1px;
    height: 24px;
    background-color: var(--g-200);

    @media (max-width: 991px) {
      display: none;
    }
  }

  .graph-footer__field-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (min-width: 992px) {
      align-items: center;
      flex-direction: row;
    }
  }

  .graph-footer__field {
    display: flex;
    flex-direction: column;

    @media (min-width: 992px) {
      align-items: center;
      flex-direction: row;
    }
  }

  .graph-footer__field-label {
    @media (min-width: 992px) {
      width: 10em;
    }
  }

  .graph-footer__field-value {
    display: flex;
    gap: 16px;
  }

  @media (max-width: 991px) {
    .graph-footer__dl-btn {
      margin-top: 0.5em;
    }
  }

  .share-btn {
    display: inherit;
  }

  .share-container {
    align-items: center;
    justify-self: flex-end;
    display: flex;
    gap: 16px;
    padding-bottom: 24px;
    padding-right: 16px;

    @media (min-width: 992px) {
      padding-right: 24px;
      padding-bottom: 32px;
    }
  }

  .share-buttons {
    display: flex;
    gap: 8px;
  }

  hr {
    border-top: 1px solid var(--blue-dark-50);
    margin: 0;
  }

  p {
    margin: 0;
    height: 32px;
    padding-top: 6px;
  }

  .icon-click {
    cursor: pointer;
  }
}

.graph-comments {
  color: var(--g-800);
  padding: 32px 0;

  @media (min-width: 992px) {
    padding: 0 24px 16px;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.graph-integration {
  .bt-copy {
    cursor: pointer;
  }
}

.graph-fullscreen {
  height: 100%;
  margin: 0;
  max-width: 100%;
  padding: 0;
  width: 100%;

  .fr-container {
    height: 100%;
    margin: 0;
    max-width: 100%;
    padding: 0;
    width: 100%;
  }
}
