.bso-glossaire {
  a {
    text-decoration: underline !important;
  }
}

.bso-glossary {
  transition: right 0.6s ease-in-out;
  background-color: var(--green-800);
  color: #fff;
  width: 100vw;
  position: fixed;
  top: 0;
  right: -100vw;
  height: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;

  &.openPanel {
    transition: all 0.2s ease-out;
    box-shadow: var(--box-shadow);
    right: 0;
  }

  .close {
    color: #fff;
    background: none;
    font-size: 1rem;
    line-height: 1.75;
    border-radius: 4px;

    &:hover {
      background-color: var(--green-600);
    }
  }

  .josm-glossary-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .josm-glossary-rows {
    display: grid;
    flex-grow: 1;
    grid-template-rows: auto 1fr;
    gap: 16px;
  }

  .content-wrapper {
    position: relative;
  }

  .content {
    background-color: var(--green-50);
    border-radius: 16px;
    color: var(--g-800);
    overflow-y: scroll;
    padding: 1rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    p::first-letter {
      text-transform: uppercase;
    }

    a {
      text-decoration: underline !important;
    }

    .glossary-item:not(:last-child) {
      border-bottom: 1px solid var(--g-200);
    }
  }

  .fr-btn {
    position: absolute;
    left: 0;
    top: 80px;
    transform: translateX(-100%);
    transition: top 0.4s ease-in-out;
    border-radius: 4px 0 0 4px;

    .banner-sticked & {
      transition: top 0.4s ease-in-out;
      top: 8px;
    }
  }

  .to-glossary-page {
    @include font-size(12, 12);
    box-shadow: none;
    padding: 6px 16px;
    background-color: var(--blue-soft-100);

    span {
      vertical-align: middle;
    }
  }
}

.glossary-entry {
  position: relative;
  cursor: pointer;
  font-weight: bold;
  border-bottom: 2px solid #fff;
  border-color: inherit;
  margin: 0 26px 0 4px;

  &::after {
    @include font-size(14, 19);
    content: 'i';
    font-family: 'dsfr-icons', serif;
    top: 4px;
    position: absolute;
    background-color: var(--blue-dark-125);
    border-radius: 30px;
    color: white;
    height: 18px;
    width: 18px;
    text-align: center;
    right: -22px;
  }

  &.active {
    background-color: var(--yellow-medium-100);
  }
}

.glossary-title-active {
  align-items: center;
  display: flex;
  background-color: var(--yellow-medium-100);
}

@media screen and(min-width: 992px) {
  .bso-glossary {
    width: 40vw;
    right: -40vw;

    .fr-btn {
      top: 52vh;
      transform: translateX(-100%);
    }
  }
}

@media screen and(min-width: 768px) {
  .banner-sticked {
    .bso-glossary {
      .fr-btn {
        top: 13px;
      }
    }
  }
}
