/**
 * Design System
 * variables already setted are from @dataesr/react-dsfr
 */
:root {
  --blue-soft-175: #26283f;
  --blue-soft-150: #334476;
  --blue-soft-125: var(--blue-soft-600);
  --blue-soft-100: var(--blue-soft-500);
  --blue-soft-75: #abb8de;
  --blue-soft-50: var(--blue-soft-300);
  --blue-soft-25: #eef1f8;
  --blue-dark-125: #3d4167;
  --blue-dark-100: var(--blue-dark-500);
  --blue-dark-75: #a4a6bc;
  --blue-dark-50: #d1d3de;
  --blue-dark-25: var(--blue-soft-200);
  --g-800: var(--grey-800);
  --g-750: var(--grey-750);
  --g-700: var(--grey-700);
  --g-600: var(--grey-600);
  --g-500: var(--grey-500);
  --g-400: var(--grey-400);
  --g-300: var(--grey-300);
  --g-200: var(--grey-200);
  --beige: var(--beige);
  --orange-soft-175: #8f4939;
  --orange-soft-150: #b8482e;
  --orange-soft-125: var(--orange-soft-600);
  --orange-soft-100: var(--orange-soft-500);
  --orange-soft-75: var(--orange-soft-400);
  --orange-soft-50: var(--orange-soft-300);
  --orange-soft-25: #fff1ed;
  --orange-medium-150: #8d5b2d;
  --orange-medium-125: var(--orange-medium-600);
  --orange-medium-100: var(--orange-medium-500);
  --orange-medium-75: var(--orange-medium-400);
  --orange-medium-50: #ffe5cf;
  --orange-medium-25: var(--orange-medium-200);
  --orange-dark-125: var(--orange-dark-600);
  --orange-dark-100: var(--orange-dark-500);
  --orange-dark-75: var(--orange-dark-400);
  --orange-dark-50: #f8e2d8;
  --orange-dark-25: var(--orange-dark-200);
  --yellow-medium-175: #6d6414;
  --yellow-medium-150: #bead1b;
  --yellow-medium-125: var(--yellow-medium-600);
  --yellow-medium-100: var(--yellow-medium-500);
  --yellow-medium-75: var(--yellow-medium-400);
  --yellow-medium-50: var(--yellow-medium-300);
  --yellow-medium-25: #fffde5;
  --yellow-dark-125: var(--yellow-dark-600);
  --yellow-dark-100: var(--yellow-dark-500);
  --yellow-dark-75: var(--yellow-medium-400);
  --yellow-dark-50: var(--yellow-medium-300);
  --yellow-dark-25: #fffde5;
  --green-light-125: var(--green-light-600);
  --green-light-100: var(--green-light-500);
  --green-light-75: #c8d7a7;
  --green-light-50: var(--green-light-300);
  --green-light-25: var(--green-light-200);
  --green-soft-125: var(--green-soft-600);
  --green-soft-100: var(--green-soft-500);
  --green-soft-75: #80d6c6;
  --green-soft-50: var(--green-soft-300);
  --green-soft-25: var(--green-soft-200);
  --green-medium-150: #116741;
  --green-medium-125: var(--green-medium-600);
  --green-medium-100: var(--green-medium-500);
  --green-medium-75: #8bcdb1;
  --green-medium-50: var(--green-medium-300);
  --green-medium-25: #e8f5ef;
  --green-dark-125: var(--green-dark-600);
  --green-dark-100: var(--green-dark-500);
  --green-dark-75: #a3b4b2;
  --green-dark-50: #d1dad8;
  --green-dark-25: #edf0f0;
  --green-warm-175: #72683e;
  --green-warm-150: var(--green-warm-600);
  --green-warm-125: var(--green-warm-500);
  --green-warm-100: #b6a24f;
  --green-warm-75: #cac5b1;
  --green-warm-50: #e5e2d8;
  --green-warm-25: var(--green-warm-200);
  --red-medium-175: #800c0c;
  --red-medium-150: #9c1515;
  --red-medium-125: #b81f1f;
  --red-medium-100: #da3636;
  --red-medium-75: #e37171;
  --red-medium-50: #edb5b5;
  --red-medium-25: #f3dada;
  --pink-light-125: var(--pink-light-600);
  --pink-light-100: var(--pink-light-500);
  --pink-light-75: var(--pink-light-400);
  --pink-light-50: var(--pink-light-300);
  --pink-light-25: var(--pink-light-200);
  --pink-soft-175: #58231f;
  --pink-soft-150: #b1635c;
  --pink-soft-125: var(--pink-soft-600);
  --pink-soft-100: var(--pink-soft-500);
  --pink-soft-75: #ffc6bf;
  --pink-soft-50: var(--pink-soft-300);
  --pink-soft-25: var(--pink-soft-200);
  --pink-dark-125: var(--pink-dark-600);
  --pink-dark-100: var(--pink-dark-500);
  --pink-dark-75: #e7c4bb;
  --pink-dark-50: var(--pink-dark-300);
  --pink-dark-25: var(--pink-dark-200);
  --purple-125: var(--purple-600);
  --purple-100: var(--purple-500);
  --purple-75: #bea6ad;
  --purple-50: var(--purple-300);
  --purple-25: var(--purple-200);
  --purple-medium-175: #3b1d49;
  --purple-medium-150: #5c356f;
  --purple-medium-125: #825c94;
  --purple-medium-100: #a677bc;
  --purple-medium-75: #ce9de5;
  --purple-medium-50: #eccdfb;
  --purple-medium-25: #f6ebfc;
  --brown-125: var(--brown-600);
  --brown-100: var(--brown-500);
  --brown-175: #d0b4ac;
  --brown-50: #e8dad6;
  --brown-25: var(--brown-200);

  /**
  Surcharge BSO
 */
  --diamond: #5cdce5;
  --hybrid: #725d3e;
  --affiliation: #846dc5;
  --affiliation-dark: #5b4697;
  --sponsor: #c26eb0;
  --results: #cbcf33;
  --publications: #d06088;
  --results-or-publications: #e49a43;
  --results-and-publications: #f0cda4;
  --apres: #cf7728;
  --duree: #9c807e;
  --avec-patient: #f279c2;
  --negatif: #a20404;
}
