/**
 * Général
 */

html {
  scroll-behavior: smooth;

  .overlay {
    display: none;
    background: #1e1e1e;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
  }

  &.overlay-on {
    .overlay {
      display: block;
    }
  }

  .no-content-after::after {
    content: '';
  }
}

.cursor-default,
.cursor-default > a,
.cursor-default > a:not([href]) {
  cursor: default;
}

ul.style-disc > li {
  list-style: disc;
  margin-left: 15px;
}

.fr-display-xs.title-xxs {
  font-size: 2rem !important;
  margin-bottom: 0.5rem;
}

/**
 * Textes
 */
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-upper {
  text-transform: uppercase;
}

/**
 * Block
 */
.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-inline-flex,
div.d-inline-flex {
  display: inline-flex;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.code {
  background-color: lightgrey;
  border: 1px solid grey;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.8rem;
  padding: 8px;
  white-space: pre-wrap;
}

.studio {
  margin-left: -32px;
  overflow: visible;
}

/**
 * Position
 */
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.z-200 {
  z-index: 200;
}

.z-100 {
  z-index: 100;
}

.z-4000 {
  z-index: 4000;
}

.z-3600 {
  z-index: 3600;
}

.flex {
  display: flex;
}

.flex-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.none {
  display: none;
}

.w-100 {
  width: 100%;
}

.h-50 {
  height: 50%;
}

/**
 * Colorimétrie
 */
.bg-white {
  background-color: #fff;
}

.bg-yellow {
  background-color: var(--yellow-medium-50);
}

.bg-light-green {
  background-color: var(--green-light-50);
}

.bg-soft-green {
  background-color: var(--green-soft-25);
}

.bg-soft-pink {
  background-color: var(--publication-25);
}

.bg-light-pink {
  background-color: var(--pink-light-50);
}

.bg-soft-purple {
  background-color: var(--purple-25);
}

.bg-ultra-light-blue {
  background-color: var(--bf100-g750);
}

.bg-medium-purple {
  background-color: var(--purple-medium-25);
}

.bg-medium-purple-50 {
  background-color: var(--purple-medium-50);
}

.bg-dark-blue {
  background: var(--blue-soft-150);
}

.bg-medium-green {
  background: var(--green-medium-25);
}

.bg-soft-blue {
  background: var(--blue-soft-50);
}

.bg-medium-blue {
  background: var(--blue-soft-100);
}

.fr-btn {
  &.btn-blue {
    background-color: var(--blue-dark-125);
  }

  &.bg-medium-blue {
    background: var(--blue-soft-100);
  }

  &:hover {
    background-color: var(--blue-dark-100);
  }
}

.text-white {
  color: #fff;
}

.text-blue {
  color: var(--blue-soft-100);
}

/**
 * Espacement
 */

.p-0 {
  padding: 0 !important;
}

.p-8 {
  padding: 8px;
}

.p-16 {
  padding: 16px;
}

.pt-8 {
  padding-top: 8px;
}

.pt-16 {
  padding-top: 16px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-32 {
  padding-top: 32px;
}

.pb-8 {
  padding-bottom: 8px;
}

.pb-16 {
  padding-bottom: 16px;
}

.pb-32 {
  padding-bottom: 32px;
}

.pb-56 {
  padding-bottom: 56px;
}

.px-7 {
  padding-left: 7px;
  padding-right: 7px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.px-24 {
  padding-left: 24px;
  padding-right: 24px;
}

.py-28 {
  padding-top: 28px;
  padding-bottom: 28px;
}

.py-48 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.m-0 {
  margin: 0;
}

.my-5 {
  margin: 0 5px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mbi-32 {
  margin-bottom: 32px !important;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-100 {
  margin-bottom: 100px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-n16 {
  margin-left: -16px;
}

.mr-26 {
  margin-right: 26px;
}

.mr-120 {
  margin-right: 120px;
}

.mt-40 {
  margin-top: 40px;
}

.m-auto {
  margin: auto !important;
}

.fr-col-mt-auto {
  margin-top: auto !important;
}

.fr-col-mb-auto {
  margin-bottom: auto !important;
}

/**
 * Mediaqueries
 */
@media screen and(min-width: 1280px) {
  .text-center-xxl {
    text-align: center;
  }

  .text-left-xxl {
    text-align: left;
  }

  .max-996 {
    max-width: 996px;
    margin: 0 auto;
  }
}

@media screen and(min-width: 992px) {
  .text-center-xl {
    text-align: center;
  }

  .text-left-xl {
    text-align: left;
  }

  .block-xl {
    display: block;
  }

  .px-xl-142 {
    padding-left: 142px;
    padding-right: 142px;
  }
}

@media screen and(min-width: 768px) {
  .text-center-l {
    text-align: center;
  }

  .text-left-l {
    text-align: left;
  }

  .mb-l-0 {
    margin-bottom: 0;
  }

  .mb-l-60 {
    margin-bottom: 60px;
  }

  .px-l-0 {
    padding-left: 0;
    padding-right: 0;
  }

  .px-l-64 {
    padding-left: 64px;
    padding-right: 64px;
  }
}

@media screen and(min-width: 576px) {
  .text-center-m {
    text-align: center;
  }

  .text-left-m {
    text-align: left;
  }

  .px-md-64 {
    padding-left: 64px;
    padding-right: 64px;
  }
}

@media screen and(min-width: 376px) {
  .text-center-s {
    text-align: center;
  }

  .text-left-s {
    text-align: left;
  }
}

.external_link {
  text-decoration: underline;
  font-weight: 900;
}

.bold {
  font-weight: 900;
}

.underline {
  text-decoration: underline;
}

.beta-title {
  text-decoration: underline;
  background: var(--yellow-medium-100);
}

.bd125 {
  color: var(--blue-dark-125);
}

.my-button {
  background: var(--blue-soft-100);
  color: white;
  padding: 10px;
  text-align: center;
  margin: 10px;
}
