/**
  Textes
 */
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

/**
  Position
 */
.relative {
  position: relative;
}

.flex {
  display: flex;
}

/**
  Colorimétrie
 */
.bg-white {
  background-color: #fff;
}

/**
  Espacement
 */

.p-8 {
  padding: 8px;
}

.p-16 {
  padding: 16px;
}

.pt-16 {
  padding-top: 16px;
}

/**
  Mediaqueries
 */
@media screen and(min-width: 1280px) {
  .text-center-xxl {
    text-align: center;
  }

  .text-left-xxl {
    text-align: left;
  }
}

@media screen and(min-width: 992px) {
  .text-center-xl {
    text-align: center;
  }

  .text-left-xl {
    text-align: left;
  }
}

@media screen and(min-width: 768px) {
  .text-center-l {
    text-align: center;
  }

  .text-left-l {
    text-align: left;
  }
}

@media screen and(min-width: 576px) {
  .text-center-m {
    text-align: center;
  }

  .text-left-m {
    text-align: left;
  }
}

@media screen and(min-width: 376px) {
  .text-center-s {
    text-align: center;
  }

  .text-left-s {
    text-align: left;
  }
}
