/**
  Textes
 */
.text-center {
  text-align: center;
}

/**
  Position
 */
.relative {
  position: relative;
}

.flex {
  display: flex;
}

/**
  Colorimétrie
 */
.bg-white {
  background-color: #fff;
}
