.marianne {
  font-family: 'Marianne Regular', sans-serif;
}

.marianne-italic {
  font-family: 'Marianne Regular Italic', sans-serif;
}

.marianne-bold {
  font-family: 'Marianne Bold', sans-serif;
}

.marianne-bold-italic {
  font-family: 'Marianne Bold Italic', sans-serif;
}

.marianne-extra-bold {
  font-family: 'Marianne Extra Bold', sans-serif;
}

.marianne-extra-bold-italic {
  font-family: 'Marianne Extra Bold Italic', sans-serif;
}

.marianne-light {
  font-family: 'Marianne Light', sans-serif;
}

.marianne-light-italic {
  font-family: 'Marianne Light Italic', sans-serif;
}

.marianne-medium {
  font-family: 'Marianne Medium', sans-serif;
}

.marianne-medium-italic {
  font-family: 'Marianne Medium Italic', sans-serif;
}

.marianne-thin {
  font-family: 'Marianne Thin', sans-serif;
}

.marianne-thin-italic {
  font-family: 'Marianne Thin Italic', sans-serif;
}

.fs-20-20 {
  @include font-size(20,20);
}

.fs-16-24 {
  @include font-size(16,24);
}

.fs-14-24 {
  @include font-size(14,24);
}
