/*
  Layout
 */
@import 'reset.scss';
@import 'mixins.scss';
@import 'colours.module.scss';
@import 'breakPoints.scss';
@import 'variables.scss';
@import 'fonts.scss';
@import 'commons.scss';
@import 'pages.scss';

/*
  Components
 */
@import 'src/components/Banner/style.scss';
@import 'src/components/Header/style.scss';
@import 'src/components/Chip/style.scss';
@import 'src/components/Icon/style.scss';
@import 'src/components/DataCard/style.scss';
@import 'src/components/BannerImage/style.scss';
@import '../components/GraphSection/style.scss';
@import 'src/components/Glossary/style.scss';

/*
  Global
 */
html {
  font-size: 100%;
}
