.bso-tab-navigation {
  background-color: #fff;
  box-shadow: 1px 6px 16px -5px rgba(0, 0, 0, 0.38);

  &.sticky {
    position: sticky;
  }

  .tab {
    margin: 0 5px;

    a {
      text-decoration: none;
      box-shadow: none;
    }

    .tab-button {
      @include font-size(14, 16);
      padding: 6px 8px;
      border-top: 2px solid var(--blue-dark-125);
      background: var(--blue-dark-125);

      &.active {
        background: var(--blue-soft-125);
      }
    }

    .tab-links {
      position: absolute;
      left: 0;
      top: 31px;
      min-width: 340px;
      transition: max-height 0.6s ease-in-out;
      max-height: 300px;
      overflow: hidden;

      &.hidden {
        transition: max-height 0.2s ease-out;
        max-height: 0;
      }

      li {
        @include font-size(14, 20);
        padding: 10px 20px 10px 32px;
        background-color: var(--blue-soft-125);

        &:last-child {
          padding-bottom: 20px;
          border-radius: 0 0 8px 8px;
        }
      }
    }
  }
}
