.bso-chip {
  border: solid 3px var(--green-800);
  border-radius: 8px;
  color: var(--green-800);
  display: inline-flex;
  padding: 16px 24px;
  text-align: initial;

  @media (min-width: 992px) {
    padding-block: 16px;
  }

  .josm-update-date {
    display: flex;
    flex-direction: column;
    gap: 4px;

    p {
      margin: 0;
    }
  }

  .josm-update-date__update-date {
    display: flex;
    flex-wrap: wrap;
    font-family: 'NotoSansJP-B', sans-serif;
    font-size: 1.125rem;
    line-height: 1.6;
  }

  .josm-update-date__range {
    font-size: 0.875rem;
    line-height: 1.3;
  }
}
