.josm-today-numbers-info {
  padding-block: 32px;

  @media (min-width: 992px) {
    padding-block: 64px;
  }

  .josm-today-numbers-info__title {
    color: var(--g-800);
    font-family: 'NotoSansJP-B', sans-serif;
    font-size: 2.8125rem;
    line-height: 1.4;
    margin-bottom: 0.5rem;

    @media (max-width: 991px) {
      font-size: 1.5rem;
      line-height: 1.5;
    }
  }

  .josm-update-date {
    color: var(--g-800);

    p {
      line-height: 1.7;
      margin: 0;
    }
  }

  .josm-today-numbers-info__items {
    border: solid 1px var(--g-800);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
    padding: 24px;

    @media (min-width: 992px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 0;

      // 上段
      .josm-today-numbers-info-item:nth-child(-n+3) {
        border-bottom: dashed 1px var(--g-200);
        padding-bottom: 8px;
      }

      // 下段
      .josm-today-numbers-info-item:nth-child(n+4) {
        padding-top: 8px;
      }

      // 左列
      .josm-today-numbers-info-item:nth-child(3n+1) {
        padding-left: 8px;
        border-right: dashed 1px var(--g-200);
      }

      // 中列
      .josm-today-numbers-info-item:nth-child(3n+2) {
        padding-inline: 8px;
        border-right: dashed 1px var(--g-200);
      }

      // 右列
      .josm-today-numbers-info-item:nth-child(3n) {
        padding-left: 8px;
      }
    }
  }
}
