.bso-tab-navigation {
  .tab {
    margin: 0 8px;

    &:first-child {
      margin-left: 0;
    }

    a {
      text-decoration: none;
      box-shadow: none;
    }

    .tab-button {
      background: var(--green-600);
      border-radius: 4px 4px 0 0;
      font-family: 'NotoSansJP-B', sans-serif;
      font-size: 1rem;
      font-weight: normal;
      line-height: 1.3;

      &.activeTab {
        color: var(--green-1000);
        background: var(--green-50);
      }

      &.active {
        color: #fff;
        background: var(--green-800);
      }
    }

    .tab-links {
      position: absolute;
      left: 0;
      top: 100%;
      margin: 0;
      min-width: 340px;
      transition: max-height 0.6s ease-in-out;
      max-height: 300px;
      overflow: hidden;

      &.hidden {
        transition: max-height 0.2s ease-out;
        max-height: 0;
      }

      li {
        @include font-size(16, 28);
        padding: 8px 24px 8px 16px;
        background-color: var(--green-800);

        &:first-child {
          padding-top: 16px;

          hr {
            margin: 16px 0 0;
          }
        }

        &:last-child {
          padding-bottom: 16px;
          border-radius: 0 0 8px 8px;
        }

        svg path {
          stroke: #fff;
        }
      }
    }
  }

  .navigation-mobile {
    background-color: var(--green-50);
    box-shadow: none;

    .fr-sidemenu__btn {
      padding-inline: 16px;
      color: inherit;
      font-weight: normal;

      &:hover {
        background-color: inherit;
      }
    }

    .fr-sidemenu__inner > .fr-sidemenu__btn {
      &::before {
        display: none;
      }

      &::after {
        margin-right: 0;
      }
    }

    .fr-collapse {
      margin: 0;
      padding: 0;
    }

    .fr-sidemenu__item {
      &::before {
        display: none;
      }

      & > .fr-sidemenu__btn {
        font-family: 'NotoSansJP-B', sans-serif;
      }

      .fr-sidemenu__list {
        margin-block: 0;
        margin-inline: 32px;
      }
    }
  }
}

.bso-tab-navigation:not(.sticky) {
  .fr-sidemenu__inner > .fr-sidemenu__btn {
    border-bottom: solid 1px var(--g-200);
  }
}

.bso-tab-navigation.sticky {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  clip-path: rect(0 100% 1000% 0);
  position: fixed;
  z-index: 200;

  .navigation-mobile {
    background-color: #fff;
    border-top: solid 1px var(--g-200);
  }
}

.bso-tab-navigation .navigation-mobile:has([aria-expanded="true"]) {
  background-color: var(--green-800);
  color: #fff;

  a {
    color: inherit;
  }

  .fr-sidemenu__inner > .fr-sidemenu__btn {
    border-bottom: solid 1px #fff;
  }
}

@media screen and(min-width: 992px) {
  .bso-tab-navigation {
    .tab {
      .tab-button {
        padding: 12px 16px;
      }
    }
  }
}
