.simple-select {
  label {
    font-style: italic;
    color: var(--g-600);
  }

  select {
    margin-left: 8px;
    background-color: var(--blue-dark-125);
    color: white;
    padding: 4px;
  }
}
