.simple-select {
  label {
    color: var(--g-600);
    font-style: italic;

    .simple-select-label {
      float: left;
    }

    .fr-select-group {
      display: flex;

      select {
        --data-uri-svg: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 24 24' ><path fill='%23fff' d='M12,13.1l5-4.9l1.4,1.4L12,15.9L5.6,9.5l1.4-1.4L12,13.1z'/></svg>");
        background-color: var(--blue-dark-125);
        border-radius: 0;
        color: white;
        display: inline;
        margin-left: 8px;
        padding: 4px 4px 4px 8px;
      }
    }
  }
}
