.bso-banner {
  align-items: center;
  background: #fff;
  box-shadow: var(--box-shadow);
  color: var(--bannerTextColor);
  display: flex;
  padding: 0 0 64px;

  @media (min-width: 992px) {
    padding: 80px 0;
  }

  .sup-title {
    @include font-size(20, 24);
  }

  .main-title {
    @include font-size(32, 40);
    color: var(--g-800);
    font-family: 'NotoSansJP-B', sans-serif;
    margin: 0;
  }

  @media (min-width: 992px) {
    .main-title {
      font-size: 2.8125rem;
      line-height: 1.4;
    }
  }

  .sub-title {
    @include font-size(16, 24);
    color: var(--g-800);
    margin: 0;
    padding: 0;
  }

  @media (max-width: 991px) {
    .sub-title {
      font-size: 1rem;
      font-weight: normal;
      line-height: 1.75;
      text-align: left;
    }

    .sub-title > br {
      display: none;
    }
  }

  @media (min-width: 992px) {
    .sub-title {
      font-family: 'NotoSansJP-B', sans-serif;
      font-size: 1.5rem;
      line-height: 1.5;
    }
  }

  .sub-sub-title {
    @include font-size(14, 20);
    color: inherit;
    font-weight: 500;
  }

  .bso-select-navigation {
    border-radius: 8px;
    bottom: -130px;
    color: white;
    top: -25px;
    width: 100%;

    &.dark-background {
      background: var(--blue-dark-125);
    }

    &.soft-background {
      background: var(--blue-soft-125);
    }

    .fr-select--valid {
      box-shadow: none;
    }
  }

  &.sticky {
    height: 56px;
    padding: 0;
    position: sticky;
    top: 0;

    @media screen and (min-width: 992px) {
      height: 64px;
    }

    .sub-title,
    .sub-sub-title,
    .icons,
    .chip {
      display: none;
    }

    .sup-title {
      font-size: 0.875rem;
      line-height: 1;
    }

    @media screen and (min-width: 992px) {
      .sup-title {
        font-size: 1.25rem;
      }
    }

    .main-title {
      font-size: 0.875rem;
      line-height: 1;
      color: var(--g-800);
    }

    @media screen and (max-width: 991px) {
      .main-title {
        font-family: 'NotoSansJP-N', sans-serif;
        font-weight: normal;
      }
    }

    @media screen and (min-width: 992px) {
      .main-title {
        font-size: 1.25rem;
      }
    }

    .bso-select-navigation {
      bottom: 0;
      border-radius: 0;
      position: relative;
      top: 0;

      .title {
        display: none;
      }
    }

    .home {
      box-shadow: none;
      line-height: 1;
    }

    .josm-banner__title-container {
      * {
        margin: 0;
      }

      span:empty {
        display: none;
      }

      .home {
        color: var(--g-800);
        font-family: 'NotoSansJP-B', sans-serif;
        font-size: 0.875rem;
        text-decoration: none;
      }

      color: var(--g-800);
      display: flex;
      flex-direction: column-reverse;
      text-align: left;
      gap: 6px;

      @media screen and (min-width: 992px) {
        align-items: center;
        flex-direction: row;
        gap: 16px;

        span:empty {
          background-color: var(--g-800);
          display: block;
          height: 16px;
          width: 2px;
        }
      }
    }
  }

  button {
    border-bottom: 2px solid var(--green-soft-25);
    border-radius: 0;
    color: var(--blue-dark-125);
    padding-left: 5px;
    padding-right: 5px;

    &.active {
      border-color: var(--blue-dark-125);
    }
  }

  @media (max-width: 991px) {
    .bso-chip-wrapper {
      padding-top: 16px;
    }
  }
}

.bso-link {
  @include font-size(14, 12);
  background: #fff;
  color: var(--blue-dark-125);
  padding: 10px;
}

@media screen and(min-width: 576px) {
  .banner {
    padding: 30px 0;
  }
}
